
*{
    padding: 0;
    margin: 0;

}
#logo{
    height: 50px;
    padding-left: 30px;
}
.carousel-item{
    height: 900px;
}
.navbar-nav{
    padding-left: 1000px;
}
a{
    font-weight: 500 !important;
    padding: 50px !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1.2rem !important;
}

#caro-text-h{
    color: white;
    letter-spacing: 3px;
    padding-bottom: 100px !important;
}
#caro-text-p{
    color: wheat;
    word-spacing: 10px !important;
    font-weight: 700;
    padding-bottom: 150px !important;
    font-size: 1.1rem;
}
.welcome{
    padding:50px;
    text-align: justify;
    border-top: 1px solid #ffb300ef;
    border-radius: 80px !important;
}
span{
    color: #990000;
}
.fashion-container{
    display: flex;
}
#fashion-text{
    background-color: #990000;
    color: white;
    padding: 50px;
}
#fashion-text span{
    color: #ffb300ef;
}
.nav-link:hover{
    color: white !important;
}
.pop{
    color: #990000;
    font-style: italic
}
#fashion-img{
    width: 450px;
    margin: 5px;
    border-radius: 40px 0px 20px 0px;
}
#fashion{
    border-bottom: 1px dotted #ffb300ef ;
    border-radius: 50px;
    padding-bottom: 40px;
}
p{
    padding: 20px;
}
#technology{
    padding-top: 90px !important;
}
#Appliances{
    padding-top: 90px !important;
}
@media only screen and (max-width:992px){
    .navbar-nav{
        padding: 0px !important;
        background-color: black !important;
        opacity: 0.5;
        color: whitesmoke !important;
    }
    a{
        color: wheat !important;
    }
    #caro-text-p,#caro-text-h{
        padding-bottom: 0px !important;
    }
    #caro-text-h{
        font-size: 1.1rem;
    }
    .carousel-item{
        height: max-content;
    }

    #caro-text-p{
        font-size: .8rem;
    }
    #logo{
        height: 30px;
        padding-left: 10px;
    }
    #fashion-img{
        width: 300px;
        margin: 50px 0px 0px 0px;
    }
}
