
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100;300&family=Raleway:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;

}
body{
    z-index: 1 !important;
    background-color:rgba(245, 245, 220, 0.486);
}
body p{
    line-height: 30px;
}
.navbar{
    background-color: rgba(136, 125, 62, 0.589) !important;
    z-index: 2 !important;
    overflow: hidden !important;
}
#logo{
    height: 50px;
    padding-left: 30px;
}

a{
    font-weight: 500 !important;
    padding: 20px !important;
    color: black !important;
    font-size: 1.2rem !important;
}

.carousel-caption{
    bottom: 220px;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel{ 
   overflow: hidden !important; 
}


.carousel-item{
    height: 100vh;
    max-height:100%;
    position: relative;
    overflow: hidden !important;
}

.carousel-item:before{
    content: '';
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#caro-text-h{
    color: white;
    letter-spacing: 3px;
    line-height: 3;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

#caro-text-p{
    color: wheat;
    word-spacing: 10px !important;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0px;
    line-height: 1;    
}
.welcome{
    padding: 30px 10px;
    text-align: justify;
    border-top: 1px solid #ffb300ef;
    border-radius: 80px !important;
}
.reduce{
    padding-top: 50px;
}
#fonts{
    font-size: 18px !important;
    background-color: rgba(245, 245, 220, 0.486);
}


.reduce-again{
    font-size: 18px !important;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 80px;
}
span{
    color: #990000;
}
.fashion-container{
    display: flex;
}
#fashion-text{
    background-color: #990000;
    color: white;
    padding: 50px;
}
#fashion-text span{
    color: #ffb300ef;
}
#phone-img{
    height: 200px;
    margin: 20px;
    padding: 15px;
}
.tech-collection{
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#appliance-img{
    height: 200px;
    margin: 20px;
    padding: 15px;
}
#food-img{
    height: 100px;
    margin: 20px;
    padding: 15px;
}
#navbar{
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.navbar-toggler:focus,
.navbar-togler:hover,
.navbar-toggler:active{
    box-shadow: none;
    outline:0px;
    border: 0px;
}

.navbar-toggler{
    outline: 0px;
    border: 0px;
}

.nav-link:hover{
    color: #ffb300ef !important;
}
.pop{
    color: #990000;
    font-style: italic
}
#fashion-img{
    width: 450px;
    margin: 5px;
    border-radius: 40px 0px 20px 0px;
}
#fashion{
    border-bottom: 1px dotted #ffb300ef ;
    border-radius: 50px;
    padding-bottom: 40px;
}
p{
    padding: 20px;
}
#technology{
    padding-top: 90px !important;
}
#Appliances{
    padding-top: 90px !important;
}
.btn{
    padding: 10px;
    width: 100px;
    color: white;
}
.btn-container{
    display: grid;
    place-items: center;
    padding: 20px;
}
input{
    background-color: whitesmoke !important;
    outline: hidden;
    border: none;
    border-radius: 0px !important;
    
}
textarea{
    background-color: whitesmoke !important;
    outline: hidden;
    border: none;
    border-radius: 0px !important;
}
#last-icon{
    height: 50px;
    margin-top: 40px;
}
.contact-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#big{
    font-size: 25px !important;
    padding-bottom: 20px !important;

}
.contact-holder{
    background-color: black !important;
    padding: 20px 40px !important;
}

@media only screen and (max-width:992px){
    .carousel-caption{
        bottom: 0px;
    }
    .navbar-nav{
        padding: 0px !important;
        background-color: black !important;
        opacity: 0.5;
        color: whitesmoke !important;
    }
    a{
        color: wheat !important;
    }
    #caro-text-p,#caro-text-h{
        padding-bottom: 0px !important;
        line-height: normal !important;
    }
    #caro-text-h{
        font-size: 1.1rem;
    }
    .carousel-item{
        height: max-content;
    }

    #caro-text-p{
        font-size: .8rem;
    }
    #logo{
        height: 30px;
        padding-left: 10px;
    }
    #fashion-img{
        width: 200px;
        
    }
    #img-grid{
        display: grid !important;
        place-content: center !important;
        gap: 20px;
    }
    #appliance-img{
        height: 150px !important;
    }
    #food-img{
        height: 150px;
        margin: 20px;
        padding: 15px;
    }
    #appliance-img{
        height: 250px !important;
        margin: 20px;
        padding: 15px;
    }
    body p{
        font-size: .9rem !important;
    }
}

@media only screen and (max-width: 1290px){
    .carousel-item{
       height: 100%;
    }
}